
$primary-color: #F59914;
$secondary-color: #00ADB5;
$white: #ffffff;
$section-padding: 50px;
// $section-margin: 50px;

body{
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
}

.title-h2{
    font-size: 32px;
    font-weight: 400;
    color: $primary-color;
    margin-bottom: 24px;
    text-transform: uppercase;
}

.title-h3{
    font-size: 20px;
    font-weight: 400;
}

.custom-btn-outline {
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 0;
    cursor: pointer;
    margin: 10px;
    color: $primary-color;
    border-color: $primary-color;
    transition: all 0.3s ease-in-out;
    &:hover{
        background-color: $primary-color;
        color: $white;
    }
}

/* NAVBAR */
.navbar {
    border-bottom: $primary-color 2px solid;
    background-color: rgba(0,0,0,0.7) !important;
    .navbar-brand{
        color: $primary-color !important;
        font-size: 24px;
    }
    .nav-link{
        color: $white !important;
        text-transform: uppercase;
        transition: color 0.4s ease-in-out;
        &:hover{
            color: $primary-color !important;
        }
    }
}

/* HEADER */
#header{
    background: url('../images/header-bg.jpg') no-repeat center center fixed;
    background-size: cover;
    height: 100vh;
    .overlay{
        background-color: rgba(0,0,0,0.8);
    }
    .content{
        height: 100vh;
    }
    .pre-title{
        color: $primary-color !important;
    }
}

/* SERVICES */
#services{
    padding-top: $section-padding;
    padding-bottom: $section-padding;
    i{                
        color: $primary-color;               
    }
    p{
        line-height: 27px;
    }
}

/* ABOUT */
#about{
    padding-top: $section-padding;
    padding-bottom: $section-padding;
    .title-about{
        border-left: 4px solid $primary-color;
        padding-left: 20px;
    }
    p{
        line-height: 24px;
    }
}

/* TEAM */
#team{
    padding-top: $section-padding;
    padding-bottom: $section-padding;
    .card{
        border: none;
        cursor: pointer;
        i{
            color: $primary-color;        
        }
    }
}

/* WHAT ARE WE DOING */
#services-2{
    padding-top: $section-padding;
    padding-bottom: $section-padding;
    background: linear-gradient(
        rgba(0,0,0,0.7),
        rgba(0,0,0,0.7)
    ),
    url('../images/what-are-we-doing.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    .fa-play-circle{
        color: $primary-color;
    }
}

/* CASE STUDY */
#case-study{
    background-color: #f4f5f9;
    line-height: 28px;
    padding-top: $section-padding;
    .case-area{
        background-color: $white;
        margin-top: 40px;
        margin-right: -40px;
        z-index: 100;
        padding: 40px;
        position: relative;
        min-height: 420px;
        i{
            color: $primary-color;
        }
    }
    .case-img{
        img{
            margin-left: -40px;
        }
    }

}